<%= form_for [@list, @settlement] do |f| %>
  <%= f.label :payee_id, "Payment to" %>
  <%= f.select :payee_id, options_from_collection_for_select(@list.users, 'id', 'name')%>
  <%= f.label :payer_id, "Payment From" %>
  <%= f.select :payer_id, options_from_collection_for_select(@list.users, 'id', 'name')%>
  <%= f.text_field :amount_cents, placeholder: :amount %>
  <%= f.submit "Record Payment" %>
  <span class='errors'><%= flash[:error] %></span>

<% end %>