<div id="list_show">
<div id="dialog-bills-form">
  <%= render partial: 'bills/form', locals: { list: @list, bills: @list.bills.build } %>
</div>

<br />
<button id="create-bill">Create A Bill</button>

<% if @list.bills.any? %>

<ul class="bills">
  <%= render partial: 'bills/bill', locals: { bills: @list.bills } %>
</ul>

<div class="add bill">
  
</div>

<h3>Total Amount for bills in <%= @list.name %>:</h3>
    <% @total = Money.new(0, "USD") %>
    <% @list.bills.each do |bill| %> 
    <% @total += bill.amount %>
    <% end %>
    $<%= @total %> 
<% end %> 
<br />
<%= button_to "Edit List", edit_list_path(@list), :method => "get" %>
</div>