<div class="row">
  <div class="temp">
<!--   <div class="large-12 columns">
    <div class="row"> -->
          <!-- Shows -->
      <div id="left_column">
        <br />
        <div id="user-info">
          <%= image_tag(current_user.gravatar_url, height: 40, width: 40) %>
          <h4>Hi&nbsp<%=current_user.name%>!</h4>
        </div>
          <span id="all-bills">
          <%= button_to "All My Bills", user_bills_path(current_user), :method => "get", remote: true %>
          </span>
        <div id="dashboard-lists">
          <div class="list-item-template" style="display: none;">
            <li><a href="/foo/bar" data-remote="true">default</a></li>
          </div>
          <div id="users-contain" class="ui-widget">
            <div class = "row">
              <div class= "large-6 columns">
                <div class="headings">
                  <p>view all bills</p>
                </div>
              </div>
            </div>
          </div>
            <div class = "row">
              <div class= "large-6 columns">
                <div class="headings">
                  <p>my lists</p>
                  <%- if current_user.lists.any? %>
                    <ul class="lists">
                      <%= render partial: 'lists/list', collection: current_user.lists.order(:created_at) %>
                    </ul>
                  <%- end %>
              </div>
            </div>
          </div>
          <div class = "row">
            <div class= "large-6 columns">
              <div class="headings">
                <p>friends:</p>
                <div id="friends">
                  <% if current_user.lists.any? %>
                  <% @friends = [] %>
                  <% current_user.lists.each do |list| %>
                  <% if list.users.length > 1 %>
                    <% list.users.each do |user| %>
                    <% if user.id != current_user.id %>
                    <% @friends << user %>
                    <% end %>
                    <% end %>
                  <% end %>
                  <% @unique_friends = @friends.uniq %>
                  <% @unique_friends.each do |friend| %>
                  <%= friend.name %>  <%= image_tag(friend.gravatar_url, height: 40, width: 40) %><br />
                  <% end %>
                  <% end %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>

          <button class="create">Create new list</button>
          <br />
          <div class="row">
            <div class="large-1 column">
            </div>
          </div>
        </div>
      </div>
      <div id="middle_column">
        <% if current_user.lists.any? %>
          <%= render template: 'bills/index', collection: current_user.lists %>
        <% else %>
          <p>Welcome to SplitAmong.us!</p>
        <% end %>
      </div>
      <div id="dialog-lists-form">
        <%= render partial: 'lists/new', locals: { lists: current_user.lists.build } %>
      </div>
      <div id="right_column">
        <h4>Your Stats:</h4><hr>
          <div class="panel">
            <h6 class="subheader">
              <%= render partial: 'bills/totals' %>
            </h6>
          </div>
        </div>
      </div>
    </div>
<!--   </div>
  </div> -->
</div>
