<div id="index-page">
  <div id="left_column">
    <div id="user-info">      
      <h4><%= image_tag(current_user.gravatar_url, height: 40, width: 40) %><%="Hi, #{current_user.name}!"%></h4>
    </div>
    <div id="dashboard-lists">
      <div id="users-contain" class="ui-widget">
        <div class="headings">
          <p>all bills
            <span id="all-bills">
              <%= link_to "view", user_bills_path(current_user), :method => "get", remote: true %>
            </span>
          </p>
        </div>
      </div>
      <div class="headings">
        <p>my lists<a href='#' class="create">add</a></p>
        <ul class="lists">
        </ul>
      </div>
      <div class="headings">
        <p>friends</p>
        <div id="friends">
        <% if current_user.friends.any? %>
          <% current_user.friends.each do |friend| %>
            <%= image_tag(friend.gravatar_url, height: 40, width: 40) %><%= friend.name %> <br />
          <% end %>
        <% end %> 
        </div>
      </div>
      <br />
      <div class="row">
        <div class="large-1 column">
        </div>
      </div>
    </div>
  </div>
  <div id="middle_column">
    <h4> all bills</h4>
    <% if current_user.lists.any? %>
      <%= render template: 'users/bills/index', collection: current_user.lists %>
    <% else %>
      <h4>Welcome to SplitAmong.us!</h4>
<!--         <p> Have you ever pulled your hair out while keeping track of multiple lists of shared expenses in excel? Have you gotten into arguments with your roommates about who paid what bill and who owes who money? We are here to help you solve these problems and help your relationships stay strong without the stress of money getting in the way. SplitAmong.us is a simple, easy way to calculate shared expenses between different groups of people, or just keep track of your own expenses. You can invite friends to share lists, create bills, and see the share of what you owe, all from this simple, free app!</p> -->
    <% end %>
  </div>
  <div id="dialog-lists-form">
    <%= render partial: 'lists/new', locals: { lists: current_user.lists.build } %>
  </div>
  <div id="right_column">
<!--       <h4>Your Stats:</h4><hr> -->
    <div id="dashboard-stats" class="panel">
      <%= render partial: 'bills/list_total', locals: { list: current_user.lists.last } %>
    </div>
  </div>
</div>

<div id="dashboard-lists-view-list-item-template" style="display: none;">
  <li><a href="/foo/bar" data-remote="true">default</a></li>
</div>
