<div id="signup"
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <fieldset></fieldset>
    <%= devise_error_messages! %>
    <h2>Sign up</h2>
    <%= f.text_field :name, placeholder: :name %>
    <br />
    <%= f.email_field :email, placeholder: :email %>
    <br />
    <%= f.password_field :password, placeholder: :password %>
    <br />
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %>

    <div><%= f.submit "Sign up" %></div>
  </fieldset>
  <% end %>
</div>
