<h3> Bills for list: <%= @list.name %> </h3>
<% bills.each do |bill| %>
  <% next if bill.description.nil? %>
  <h4><%= bill.description %></h4>
  <p><%= bill.amount %></p>
  <li><%= link_to "edit", edit_list_bill_path(@list, bill), {method: :get} %></li>
  <p><%= bill.date %></p> 
<% end %>