<h3> Bills for list: <%= @list.name %> </h3>
<% bills.each do |bill| %>
  <% next if bill.description.nil? %>
  <h4><%= bill.description %></h4>
  <p><%= bill.amount %></p>
  <p><%= bill.date %></p> 
  <div id="bill_amount"><%= bill.amount %></div>
  <!-- get the date picker for date -->
  <div id="date_format"><%= bill.date %></div> 
  <li><%= link_to "edit", edit_list_bill_path(@list, bill), {method: :get} %></li>
  <li><%= link_to "delete", list_bill_path(@list, bill), confirm: 'Are you sure you want to delete this bill?', method: :delete %></li>
<% end %>