<h3>Create a bill:</h3>
<%= form_tag do %>
  <%= text_field_tag :description, nil, placeholder: :description %>
  <%= text_field_tag :amount, nil, placeholder: :amount %>
  <%= text_field_tag :date, nil, class: :datepicker, placeholder: :date %>
  <%= submit_tag "Create bill" %>
  <%= button_tag "Cancel", class: "cancel" %>
<% end %>