<div id="list-amounts">
<h4>Total for all bills:</h4>
<% @total = Money.new(0, "USD") %>
<% current_user.lists.each do |list| %>
  <% list.bills.each do |bill| %> 
    <% @total += bill.amount %>
  <% end %>
<% end %>

$<%= @total %> 



<% @user_total = Money.new(0, "USD") %>
<% current_user.lists.each do |list| %>
  <% list.users.each do |user| %>
    <% list.bills.each do |bill| %>
      <% if bill.owner_id == user.id %>
        <% @user_total += (bill.amount / List.find(bill.list_id).users.count) * (List.find(bill.list_id).users.count - 1) %>
      <% else %>
        <% @user_total -= bill.amount / List.find(bill.list_id).users.count %>
      <% end %>
    <% end %>
    <% @user_total %>
    <% if @user_total >= 0 %>
      <p><%= user.name %> gets back: <%= @user_total %></p>
    <% else %>
      <p><%= user.name %> owes: <%= @user_total %></p>
    <% end %>
  <% end %>
<% end %>


