<!-- needs to be rendered via remote true -->
<ul>
  <% current_user.lists.each do |list| %>
      <% if list.bills.any? %>
        <li><h4><%= list.name %></h4><br />
            <% list.bills.each do |bill| %>
            <%= bill.description %> - $<%= bill.amount %><br />
            <%= bill.date %><br />
            <%= bill.date_paid %></li>
          <br />
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <h3>Total Amount:</h3>
      <% @total = Money.new(0, "USD") %>
          <% current_user.lists.each do |list| %>
            <% list.bills.each do |bill| %> 
            <h5><% @total += bill.amount %></h5>
          <% end %>
      <% end %>
  $<%= @total %>  