
<div id="login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>    
  <fieldset>
    <%= f.email_field :email, placeholder: :email %>
    <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
    <% end -%>
  </fieldset>

  <fieldset>
    <%= f.password_field :password, placeholder: :password %>
    <%= render "devise/shared/links" %>
  </fieldset>

  <fieldset>
    <%= f.submit "Log In" %>  
  </fieldset>  
  <% end %>      
</div>



