<div id="invite_friend">
  <div id="middle_column">
    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
    <fieldset>
      <%= devise_error_messages! %>
      <h4>Invite a friend to "<%= @list.name %>"</h4>
      <br />
      <%= f.hidden_field :list_id, value: @list.id %>
      <br />
      <%= f.text_field :name, placeholder: :name %>
      <br />
      <% resource.class.invite_key_fields.each do |field| -%>
        <%= f.text_field :email, placeholder: :email %>
      <% end %>
      <br />
      <%= f.submit t("devise.invitations.new.submit_button") %>
      <% end %>
      <script>
      var friends = <%= @friends %>
      </script>

    </fieldset>
  </div>
<!--   <div id="right_column">
    <img src="pig-wallpaper.jpg" img-tag="pigs"></img>
  </div> -->
</div>
