<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Happy+Monkey|Over+the+Rainbow' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>
    <!--
    <script src="/js/custom.modernizr.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->

    <%= javascript_include_tag("application") %>
  	<meta charset="utf-8" />
  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SplitAmongUs</title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <nav>
    <header>
      <div id="logo">
        <fieldset>
          <% if user_signed_in? %>
            <a href="/dashboard"><h2> Split*Among.Us </h2></a>
          <% else %>
            <a href="/"><h2> Split*Among.Us </h2></a>
          <% end %>
        </fieldset>
      </div>
      <% if user_signed_in? %>
        <div class="right">
          <p><%= link_to "my profile", edit_user_registration_path, {method: :get} %></p>
          <p><%= link_to "sign out", destroy_user_session_path, {method: :delete} %></p>

        </div>
      <% else %>
        <%= render partial: 'devise/sessions/new' %>
      <% end %>
        </header>
      </nav>
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>

    <%= yield %>

    <footer class="row">
      <div class="large-6 small-12 columns">
        <p>About Us</p>
      </div>
      <div class="large-6 small-12 columns">
        <ul class="inline-list right">
          <li><a href="#">Created By:</a></li>
          <li><a href="#">Christine</a></li>
          <li><a href="#">Maria</a></li>
          <li><a href="#">Zassmin</a></li>
        </ul>
      </div>
    </footer>
</body>
</html>


